{% load static %}
<script>
var followingID=$('.user-following-btn')
var followersID=$('.user-followers-btn')

    $(document).ready(function() {
        var followingID=$('.user-following-btn')
        var followersID=$('.user-followers-btn')

        var this1=$('.user-follow')
        var this2=$('.user-following-btn')
        var username=this1.attr("data-id")
        var logusername=this2.attr("data-id")
        if(typeof username==='undefined'){
            username=logusername
        }
        var usernameID="follow-"+username
        var usernameIDlogfollowing="following-count-"+logusername
        var usernameIDlogfollowers="followers-count-"+logusername
        console.log(username,usernameID,usernameIDlogfollowing,usernameIDlogfollowers)

    });

    $(document.body).on("click",".user-follower",function(e){
        e.preventDefault()
        var this1=$(this)
        var this2=$('.user-followers-btn')
        var this3=$('.user-follow')
        var username=this1.attr("data-id")
        var logusername=this2.attr("data-id")
        var checkusername=this3.attr("data-id")
        var usernameID="follower-"+username
        var followinglist="following-list-"+username
        var followinglistapp=$("#following-list")
        var usernameIDlogfollowing="following-count-"+logusername
        var usernameIDlogfollowers="followers-count-"+logusername
        console.log(username,usernameID)
        var followURL="/profile/api/"+username+"/follow/"
  
        $.ajax({
            method: "GET",
            url: followURL,
            success: function(data){
                if(typeof checkusername==='undefined'){
                    var UserImage
                    if(data.profile.image=== null || data.profile.image === undefined){
                        UserImageURL="{% static 'images/profile.png' %}";
                    }else{
                        UserImageURL=data.profile.image
                    }
                    var imageFormattedHTML="<img src=\'"+UserImageURL+"\' alt=\'"+data.first_name+" "+data.last_name+
                    "\'  style=\"width:26px;float: left;\" class=\"border  rounded-circle border-white\" />"
                    var html="<li class='list-group-item' id='following-list-"+data.username+"'><h5>"+
                    "<a href='"+data.url+"' style='text-decoration:none;'>"+imageFormattedHTML+data.username+"</a>"+
                    "<a href='"+data.url+"follow/' class='btn btn-outline-primary user-following' id='following-"+data.username+"' data-id='"+data.username+"' style='width:90px;float:right;'>Following</a>"+
                    "</h5></li>" 
                    
                    if(data.following){
                        console.log("Following - follower")
                        followinglistapp.append(html)
                        document.getElementById(usernameIDlogfollowing).innerHTML="Following: "+data.count   
                        if(document.getElementById(usernameID) !=null){
                            document.getElementById(usernameID).innerHTML="Following"
                            document.getElementById(usernameID).classList.remove("btn-primary");
                            document.getElementById(usernameID).classList.add("btn-outline-primary");
                        }      
                    }else{
                        console.log("Not Following - follower")
                        document.getElementById(followinglist).remove();
                        document.getElementById(usernameIDlogfollowing).innerHTML="Following: "+data.count
                        if(document.getElementById(usernameID) !=null){
                            document.getElementById(usernameID).innerHTML="Follow"
                            document.getElementById(usernameID).classList.remove("btn-outline-primary");
                            document.getElementById(usernameID).classList.add("btn-primary");
                        }
                    }
                    if(data.count===0){
                        html="<h6 id='notfollow1'>Not following any users!</h6>"
                        followinglistapp.append(html)
                        console.log("Not following any users!")
                    }else if(document.getElementById('notfollow1') !=null){
                        document.getElementById('notfollow1').remove();
                    }
                    
                }else{
                    if(data.following){
                        console.log("Following - follower")
                        if(document.getElementById(usernameID) !=null){
                            document.getElementById(usernameID).innerHTML="Following"
                            document.getElementById(usernameID).classList.remove("btn-primary");
                            document.getElementById(usernameID).classList.add("btn-outline-primary");
                        }      
                    }else{
                        console.log("Not Following - follower")
                        if(document.getElementById(usernameID) !=null){
                            document.getElementById(usernameID).innerHTML="Follow"
                            document.getElementById(usernameID).classList.remove("btn-outline-primary");
                            document.getElementById(usernameID).classList.add("btn-primary");
                        }
                    }
                }
            },
            error: function(data){
                console.log("error")
                console.log(data)
            }
        })
    })

    $(document.body).on("click",".user-following",function(e){
        e.preventDefault()
        var this1=$(this)
        var this2=$('.user-following-btn')
        var this3=$('.user-follow')
        var username=this1.attr("data-id")
        var logusername=this2.attr("data-id")
        var checkusername=this3.attr("data-id")
        var usernameID="following-"+username
        var followinglist="following-list-"+username
        var followinglistapp=$("#following-list")
        var usernameIDlogfollowing="following-count-"+logusername
        var usernameIDlogfollowers="followers-count-"+logusername
        console.log(username,usernameID)
        var followURL="/profile/api/"+username+"/follow/"
        
        $.ajax({
            method: "GET",
            url: followURL,
            success: function(data){
                if(typeof checkusername==='undefined'){
                    var UserImage
                    if(data.profile.image=== null || data.profile.image === undefined){
                        UserImageURL="{% static 'images/profile.png' %}";
                    }else{
                        UserImageURL=data.profile.image
                    }
                    var imageFormattedHTML="<img src=\'"+UserImageURL+"\' alt=\'"+data.first_name+" "+data.last_name+
                    "\'  style=\"width:26px;float: left;\" class=\"border  rounded-circle border-white\" />"
                    var html="<li class='list-group-item' id='following-list-"+data.username+"'><h5>"+
                    "<a href='"+data.url+"' style='text-decoration:none;'>"+imageFormattedHTML+data.username+"</a>"+
                    "<a href='"+data.url+"follow/' class='btn btn-outline-primary user-following' id='following-"+data.username+"' data-id='"+data.username+"' style='width:90px;float:right;'>Following</a>"+
                    "</h5></li>" 
                    
                    if(data.following){
                        console.log("Following - following")
                        followinglistapp.append(html)
                        document.getElementById(usernameIDlogfollowing).innerHTML="Following: "+data.count 
                    }else{
                        console.log("Not Following - following")
                        document.getElementById(followinglist).remove();
                        document.getElementById(usernameIDlogfollowing).innerHTML="Following: "+data.count 
                    }
                    if(data.count===0){
                        html="<h6 id='notfollow1'>Not following any users!</h6>"
                        followinglistapp.append(html)
                        console.log("Not following any users!")
                    }else if(document.getElementById('notfollow1') !=null){
                        document.getElementById('notfollow1').remove();
                    }
                }
            },
            error: function(data){
                console.log("error")
                console.log(data)
            }
        })
    })
    
    $(document.body).on("click",".user-followremove",function(e){
        e.preventDefault()
        var this1=$(this)
        var this2=$('.user-followers-btn')
        var this3=$('.user-follow')
        var username=this1.attr("data-id")
        var logusername=this2.attr("data-id")
        var checkusername=this3.attr("data-id")
        var usernameID="follower-"+username
        var followerlist="follower-list-"+username
        var followerlistapp=$("#follower-list")
        var usernameIDlogfollowing="following-count-"+logusername
        var usernameIDlogfollowers="followers-count-"+logusername
        console.log(username,usernameID,followerlist)
        var followURL="/profile/api/"+username+"/followremove/"
  
        $.ajax({
            method: "GET",
            url: followURL,
            success: function(data){
                if(typeof checkusername==='undefined'){                    
                    if(data.following){
                        console.log("Following - following")
                        followerlistapp.append(html)
                        document.getElementById(usernameIDlogfollowers).innerHTML="Followers: "+data.count 
                    }else{
                        console.log("Not Following - following")
                        document.getElementById(followerlist).remove();
                        document.getElementById(usernameIDlogfollowers).innerHTML="Followers: "+data.count 
                    }
                    if(data.count===0){
                        var html="<h6 id='notfollow2'>Not followed by any users!</h6>"
                        followerlistapp.append(html)
                        console.log("Not followed by any users!")
                    }else if(document.getElementById('notfollow2') !=null){
                        document.getElementById('notfollow2').remove();
                    }
                }
            },
            error: function(data){
                console.log("error")
                console.log(data)
            }
        })
    })



    $(document.body).on("click",".user-follow",function(e){
        e.preventDefault()
        var this_=$(this)
        var username=this_.attr("data-id")
        var usernameID="follow-"+username
        console.log(usernameID)
        var this1=$(this)
        var this2=$('.user-followers-btn')
        var this3=$('.user-follow')
        var username=this1.attr("data-id")
        var logusername=this2.attr("data-id")
        var checkusername=this3.attr("data-id")
        
        var followerlistapp=$("#follower-list")
        var usernameIDlogfollowing="following-count-"+checkusername
        var usernameIDlogfollowers="followers-count-"+checkusername
        console.log(username,usernameID,checkusername,usernameIDlogfollowers)
        var followURL="/profile/api/"+username+"/follow/"
        
        $.ajax({
            method: "GET",
            url: followURL,
            success: function(data){
                var followerlist="follower-list-"+data.logged.username
                var UserImage
                    if(data.logged.profile.image=== null || data.logged.profile.image === undefined){
                        UserImageURL="{% static 'images/profile.png' %}";
                    }else{
                        UserImageURL=data.logged.profile.image
                    }
                    var imageFormattedHTML="<img src=\'"+UserImageURL+"\' alt=\'"+data.logged.first_name+" "+data.logged.last_name+
                    "\'  style=\"width:26px;float: left;\" class=\"border  rounded-circle border-white\" />"
                    var html="<li class='list-group-item' id='follower-list-"+data.logged.username+"'><h5>"+
                    "<a href='"+data.logged.url+"' style='text-decoration:none;'>"+imageFormattedHTML+data.logged.username+"</a>"+
                    "<a href='"+data.logged.url+"follow/' class='btn btn-outline-primary user-following' id='following-"+data.logged.username+"' data-id='"+data.logged.username+"' style='width:90px;float:right;'>Follows</a>"+
                    "</h5></li>" 
                if(data.following){
                    console.log("Following - follow")
                    followerlistapp.append(html)
                    document.getElementById(usernameID).innerHTML='Unfollow'
                    document.getElementById(usernameIDlogfollowers).innerHTML="Followers: "+data.count2  
                }else{
                    console.log("Not Following - follow")
                    document.getElementById(followerlist).remove();
                    document.getElementById(usernameID).innerHTML='Follow' 
                    document.getElementById(usernameIDlogfollowers).innerHTML="Followers: "+data.count2  
                }
                
                if(data.count2===0){
                    var html="<h6 id='notfollow2'>Not followed by any users!</h6>"
                    followerlistapp.append(html)
                    console.log("Not followed by any users!")
                }else if(document.getElementById('notfollow2') !=null){
                    document.getElementById('notfollow2').remove();
                }
            },
            error: function(data){
                console.log("error")
                console.log(data)
            }
        })
    })

    



    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function readUpdModalURL(input) {
        
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#viewImageupd').attr('src', e.target.result)
                $('#viewImageupd').css('display','block');
                document.getElementById('modalImageupd_label').innerHTML=document.getElementById('modalImageupd').value.replace(/.*(\/|\\)/, '');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function readCreateURL(input) {
        console.log("Get create image")
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#viewImagecre').attr('src', e.target.result)
                $('#viewImagecre').css('display','block');
                document.getElementById('id_image_label').innerHTML=document.getElementById('id_image').value.replace(/.*(\/|\\)/, '');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }



    function wipeUpd(){
        $('#viewImageupd').css('display','none');
        $("#modalImageupd").val(null);
        $("#modalImageupd_label").html("Choose file");
    }
    function wipeCre(){
        $('#viewImagecre').css('display','none');
        $("#id_image").val(null);
        $("#id_image_label").html("Choose file");
    }

    function loadPostData(formID){
            var typingTimer;
            var doneInterval=300; //ms
            var searchInput=$("#search input[type=text]")
            var searchQuery;

            var postContainer
            if (formID){
                postContainer=$("#"+formID)
            }else{
                var postContainer=$("#post-container")
            }
            var initialURL=postContainer.attr("data-url") || "/post/api/"
            console.log(initialURL)

            var searchend=$("#searchBox").val()
            $("#searchBox").focus().val("").val(searchend)
            searchInput.keyup(function(event){
                searchQuery=$(this).val()
                clearTimeout(typingTimer)
                typingTimer=setTimeout(doneSearchTyping,doneInterval)
            })

            searchInput.keydown(function(event){
                clearTimeout(typingTimer)
            })

            function doneSearchTyping(){
                if(searchQuery){
                    var url='/post/?q='+searchQuery
                    document.location.href=url;
                }
            }

            var query=getParameterByName('q')
            var postList=[];
            var postListlength=postList.length
            var nextPostURL;

            function updateHashLinks(){
                $(".posts").each(function(data){
                    var hashTagRegex= /(^|\s)*#([\w\d-]+)/g
                    var usernameRegex= /(^|\s)*@([\w\d-]+)/g
                    var currentHtml=$(this).html()
                    var newText
                    newText=currentHtml.replace(hashTagRegex,
                        "$1<a href='/tags/$2/' style='text-decoration:none;'>#$2</a>")
                    newText=newText.replace(usernameRegex,
                        "$1<a href='/profile/$2/' style='text-decoration:none;'>@$2</a>")
                    $(this).html(newText)

                })
            }


            var postIDdel
            var postContentdel
            var postUserdel
            $(document.body).on("click",".post-del",function(e){
                e.preventDefault()
                var this_=$(this)
                postIDdel=this_.attr("data-id")
                postContentdel=document.getElementById('postContent'+postIDdel).innerHTML
                document.getElementById('modalContentdel').innerHTML=postContentdel
                postUserdel=document.getElementById('postUser'+postIDdel).innerHTML
                document.getElementById('modalUserdel').innerHTML=postUserdel
                console.log(postIDdel)
                var delURL="/post/api/"+postIDdel+"/delete/"
                $("#delform").attr("href", delURL)
                document.getElementById('modalTitledel').innerHTML="Delete"
                $('#deleteModal').modal('show');

            });
            $('#delform').submit(function(event){
                event.preventDefault()
                var this_=$(this)
                console.log(postIDdel)
                var divID="post-"+postIDdel
                var delURL="/post/api/"+postIDdel+"/delete/"
                var formData=this_.serializeArray();
                var formDataJSON = {};
                $.map(formData, function(n, i){
                    formDataJSON[n['name']] = n['value'];
                });
                console.log(formDataJSON)
                formDataJSON['pk']=postIDdel
                console.log(formDataJSON)
                $.ajax({
                    method: "DELETE",
                    url: delURL,
                    data: formDataJSON,
                    success: function(data){
                        console.log("Deleted")
                        $('#deleteModal').modal('hide');
                        console.log(divID)
                        document.getElementById(divID).remove();
                        console.log(postList)
                        postListlength=postListlength-1
                        console.log(postListlength)
                        if(postListlength<0){
                            document.getElementById('post-container').innerHTML="<h6 id='NoPost'>No Posts currently found!</h6>"
                        }
                    },
                    error: function(data){
                        console.log("error")
                        document.getElementById('modalTitledel').innerHTML="<span style='color:red'>Permission Denied!</span>"
                        console.log(data)
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                })
            });

            var postIDupd
            var postContentupd
            var postUserupd
            $(document.body).on("click",".post-upd",function(e){
                e.preventDefault()
                var this_=$(this)
                postIDupd=this_.attr("data-id")
                console.log(postIDupd)
                var postIDhtmlName="postImage"+postIDupd
                postContentupd=document.getElementById('postContent'+postIDupd).innerHTML
                postContentupd = postContentupd.replace(/<\/?[^>]+(>|$)/g, "");
                document.getElementById('modalContentupd').innerHTML=postContentupd
                var element = document.getElementById(postIDhtmlName)
                if (element === undefined || element===null){
                    document.getElementById('viewImageupd').style.display = "none";
                }else{
                    document.getElementById('viewImageupd').style.display = "block";
                    document.getElementById("viewImageupd").src=document.getElementById(postIDhtmlName).getAttribute("src")
                }
                var updURL="/post/api/"+postIDdel+"/delete/"
                $("#updform").attr("href", updURL)
                document.getElementById('modalTitleupd').innerHTML="Update"
                $('#updateModal').modal('show');
            });
            $('#updform').submit(function(event){
                event.preventDefault()
                var this_=$(this)
                console.log(postIDupd)
                var divID="post-"+postIDupd
                var updURL="/post/api/"+postIDupd+"/update/"
                var imageID = $('#modalImageupd');
                var formData = new FormData(imageID.closest('form').get(0));    
                formData.append('pk',postIDupd)
                formData.append('content',document.getElementById('modalContentupd').value)
                console.log(imageID.closest('form').get(0))
                if(document.getElementById('modalImageupd').value == ''){
                    formData.delete('image');
                }
                for (var pair of formData.entries()) {
                    console.log(pair[0]+ ', ' + pair[1]); 
                }
                
                $.ajax({
                    method: "PUT",
                    url: updURL,
                    data: formData,
                    async: true,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function(data){
                        console.log("Updated")
                        $('#updateModal').modal('hide');
                        console.log(divID)
                        document.getElementById('post-container').innerHTML=""
                        fetchPost()
                        wipeUpd()
                    },
                    error: function(data){
                        console.log("error")
                        document.getElementById('modalTitleupd').innerHTML="<span style='color:red'>Permission Denied!</span>"
                        console.log(data)
                        $('#viewImageupd').css('display','none');
                        $("#modalImageupd").val(null);
                    },
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                })
            });


            $(document.body).on("click",".post-like",function(e){
                e.preventDefault()
                var this_=$(this)
                var postID=this_.attr("data-id")
                var postIDname="post"+postID
                var postLikeCount="post-likecount-"+postID
                console.log(postIDname,postLikeCount)
                var likedURL="/post/api/"+postID+"/like/"
                //this_.text("Liked")
                document.getElementById(postIDname).innerHTML='favorite'
                $.ajax({
                    method: "GET",
                    url: likedURL,
                    success: function(data){
                        if(data.liked){
                            //this_.text("Liked")
                            console.log("Liked")
                            document.getElementById(postIDname).innerHTML='favorite'
                            document.getElementById(postLikeCount).innerHTML=data.likes
                        }else{
                            console.log("Unliked")
                            //this_.text("Unliked")
                            document.getElementById(postIDname).innerHTML='favorite_border'
                            document.getElementById(postLikeCount).innerHTML=data.likes
                        }
                    },
                    error: function(data){
                        console.log("error")
                        console.log(data)
                    }
                })
            })

           

            function attachPost(postValue,prepend){
                if($("#NoPost")){
                    $("#NoPost").remove()
                }
                var postContent=postValue.content;
                var postTimeSince=postValue.timesince;
                var postUser=postValue.user;
                var is_liked='favorite_border'
                var postDropDown
                if(postValue.did_like){
                    is_liked='favorite'
                }
                var postURL=postValue.get_absolute_url;
                var postUserImage=postValue.user.profile.image
                if (postUserImage === null || postUserImage === undefined) {
                    postUserImage="{% static 'images/profile.png' %}";
                }
                if(postUser.id==postUser.current_user){
                    postDropDown="<span style='float: right;'><a data-toggle='dropdown'><img src='{% static 'images/more-24.png' %}'></a>"+
                                        "<div class='dropdown-menu dropdown-menu-right'>"+
                                        "<small><a class='dropdown-item post-upd' data-id='"+postValue.id+"'>Update</a></small>"+
                                        "<small><a class='dropdown-item post-del' data-id='"+postValue.id+"'>Delete</a></small>"+
                                    "</div></span>"
                }else{
                    postDropDown=""
                }
                if(postValue.image === null || postValue.image === undefined){
                    postImage=""
                }else{
                    postImage="<img src=\'"+postValue.image+"\' id='postImage"+postValue.id+"' />"
                }
                var imageFormattedHTML="<img src=\'"+postUserImage+"\' alt=\'"+postUser.first_name+" "+postUser.last_name+
                        "\'  style=\"width:25px;float: left;\" class=\"border  rounded-circle border-white\" />"
                var postFormattedHTML=
                    //"<div style='box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'>"+
                         "<div class='col-8 posts' id='post-"+postValue.id+"'><div class='card' style='border-radius: 12px;'>"+
                              "<div class='card-body'>"+
                                "<h5 class='card-title'><a href='"+postUser.url+"' style='text-decoration:none;' id='postUser"+postValue.id+"'>"+imageFormattedHTML+" "+postUser.username+"</a>"+
                                postDropDown+"</h5>"+
                                "<small class='card-subtitle mb-2 text-muted' ><a href='"+postURL+"' style='color:black;text-decoration:none;' id='postTime"+postValue.id+"'>"+postTimeSince+"</a></small>"+
                                "<p class='card-text' id='postContent"+postValue.id+"'>"+postContent+"</p>"+
                                postImage+
                                //"<a href='#' class='card-link post-like' >"+is_liked+"("+postValue.likes+")</a>"+
                                "<button id='post"+postValue.id+"' class='mdc-icon-button material-icons text-danger post-like' data-id='"+postValue.id+"'>"+is_liked+"</button>"+
                                "<span id='post-likecount-"+postValue.id+"'>"+postValue.likes+"</span>"+
                                //"<div ></div>"+
                              "</div>"+
                             // "<button class='mdc-icon-button material-icons post-like' data-id='"+postValue.id+"'>share</button>"+
                             "</div><br></div>"
                
                if(prepend==true){
                    postContainer.prepend(postFormattedHTML)
                }else{
                    postContainer.append(postFormattedHTML)
                }
            }

            function parsePost(){
                //initialContainer.empty();
                if(postList==0){
                    document.getElementById('post-container').innerHTML="<h6 id='NoPost'>No Posts currently found!</h6>"
                }else{
                                       
                    $.each(postList,function(key,value){
                        var postKey=key;
                        //console.log(postKey)
                        //console.log(value)
                        attachPost(value)
                    })
                }
            }


            function fetchPost(url){
                console.log("fetching...");
                var fetchURL;
                if(!url){
                    fetchURL=initialURL

                }else{
                    fetchURL=url
                }

                $.ajax({
                    url: fetchURL,
                    data: {
                        "q": query
                    },
                    method: "GET",
                    success: function(data){
                        if(data.results){
                            postList=data.results
                            if(data.next){
                                nextPostURL=data.next
                            }else{
                                $("#load_more_posts").css("display","none")
                            }
                            parsePost()
                        }else{
                            postList=data
                            attachPost(postList)
                            $("#load_more_posts").css("display","none")
                            
                        }
                        
                        updateHashLinks()
                        postListlength=postList.length
                        console.log(postListlength)
                    },
                    error: function(data){
                        console.log("ERROR")
                        console.log(data)
                    },
                })
            }
            fetchPost()


            $("#load_more_posts").click(function(event){
                event.preventDefault()
                if(nextPostURL){
                    fetchPost(nextPostURL)
                }
            })

            var postStart=500
            var postCurrent=postStart
            $('#postChar').html("500")
            $('#post-form textarea').keydown(function(event){
                var postValue=$(this).val() 
                if (event.keyCode != 8 && event.keyCode != 46 && postCurrent > 0){
                    len=postValue.length+1
                    postCurrent=postStart-len
                    console.log(len)
                    console.log(postCurrent)
                    $('#postChar').text(postCurrent)
                } else if (event.keyCode != 8 && event.keyCode != 46 && postCurrent === 0) {
                    event.preventDefault();
                } else if (event.keyCode != 8 && event.keyCode != 46 && postCurrent < 0) {
                    event.preventDefault();
                    $(this).val(postValue.substring(1,postStart))
                }else{
                    len=postValue.length-1
                    postCurrent=postStart-len
                    console.log(len)
                    console.log(postCurrent)
                    $('#postChar').text(postCurrent)
                }
            })           
            $('#post-form').submit(function(event){
                event.preventDefault()
                var this_=$(this)
                var imageID = $('#id_image');
                var formData = new FormData(imageID.closest('form').get(0));
                console.log(formData)
                for (var pair of formData.entries()) {
                    console.log(pair[0]+ ', ' + pair[1]); 
                }
                $.ajax({
                    url: "/post/api/create/",
                    data: formData,
                    method: "POST",
                    async: true,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function(data){
                        this_.find("input[type=text],textarea").val("")
                        attachPost(data,true)
                        updateHashLinks()
                        wipeCre()
                        $('.posts').remove()
                        postListlength=postListlength+1
                        $('#postChar').html("500")
                        fetchPost()
                    },
                    error: function(data){
                        console.log("ERROR")
                        console.log(data)
                        console.log(data.status)
                    },
                })
            })
        }

</script>
