{%extends 'base.html'%}
{% load static %}

{%block head_title%}
Profile
{%endblock head_title%}


{%block body%}
{% include "posts/post_modal.html" %}
{{object.username}}<br>
{% ifnotequal request.user.username object.username %}
<p>
    <a href='{{object.profile.get_follow_url}}'>
        {% if following %}Unfollow{% else %}Follow{% endif %}
    </a>
</p>
{% endifnotequal  %}
{% include "user/users_modal.html" with followingusers=object.profile.get_following.all followersusers=object.followed_by.all %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FollowingModalLong">
  Following: {{object.profile.get_following.count}}
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FollowersModalLong">
  Followers: {{object.followed_by.all.count}}
</button>
<br><br>
<h4>Posts</h4>
    <div id="post-container" data-url="/profile/api/{{object.username}}/">
        </div>
        <div>
            <a href="#" id="load_more_posts">Load More Posts</a>
        </div>



{%endblock%}

{% block javascript %}
    <script>
        $(document).ready(function(){
            loadPostData("post-container")
        });
    </script>
{% endblock %}