{% load static %}
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="FollowingModalLongTitle" class="modal fade" id="FollowingModalLong" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FollowingModalLongTitle">Following</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group" id='following-list'>
                    {% for user in followingusers %}
                    <li class="list-group-item" id='following-list-{{user.username}}'>
                        <h5>
                            <a href="/profile/{{user.username}}" style='text-decoration:none;'>
                                {% if user.profile.image %}
                                <img alt="{{ user.get_full_name }}" class="border rounded-circle border-white"
                                     id="following-image-{{user.username}}" src="{{ user.profile.image.url }}"
                                     style="width:26px;float: left;"/>
                                {% elif user.socialaccount_set.all.0.get_avatar_url %}
                                <img alt="{{ user.get_full_name }}"
                                     class="border rounded-circle border-white" id="following-image-{{user.username}}"
                                     src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="width:26px;float: left;"/>
                                {% else %}
                                <img alt="{{ user.get_full_name }}" class="border rounded-circle border-white"
                                     id="following-image-{{user.username}}" src="{% static 'images/profile.png' %}"
                                     style="width:26px;float: left;"/>
                                {% endif %}
                                &nbsp;&nbsp;{{user.username}}</a>
                            <a class="btn btn-outline-primary user-following"
                               data-id='{{user.username}}' href="{% url 'user-follow' slug=user.username %}"
                               id='following-{{user.username}}' style="width:90px;float:right;">Following</a>

                        </h5>
                    </li>
                    {% empty %}
                    <h6 id='notfollow1'>Not following any users!</h6>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FollowersModalLong" tabindex="-1" role="dialog" aria-labelledby="FollowersModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FollowersModalLongTitle">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group" id='follower-list'>
                    {% for user in followersusers %}
                    <li class="list-group-item" id='follower-list-{{user.user.username}}'
                        data-id='{{user.user.username}}'>
                        <h5>
                            <a href="/profile/{{user.user.username}}" style='text-decoration:none;'>
                                {% if user.user.profile.image %}
                                <img src="{{ user.user.profile.image.url }}" alt="{{ user.user.get_full_name }}"
                                     style="width:26px;float: left;" class="border rounded-circle border-white"/>
                                {% elif user.user.socialaccount_set.all.0.get_avatar_url %}
                                <img src="{{ user.user.socialaccount_set.all.0.get_avatar_url }}"
                                     alt="{{ user.user.get_full_name }}" style="width:26px;float: left;"
                                     class="border rounded-circle border-white"/>
                                <!--0 indicates the site used to sign up first-->
                                {% else %}
                                <img src="{% static 'images/profile.png' %}" alt="{{ user.user.get_full_name }}"
                                     style="width:26px;float: left;" class="border rounded-circle border-white"/>
                                {% endif %}
                                &nbsp;&nbsp;{{user.user.username}}</a>
                            <div style="width:110px;float:right;">
                                {% if user.user.username in followusers %}
                                <a href="{% url 'user-follow' slug=user.user.username %}"
                                   class="btn btn-outline-primary user-follower" data-id='{{user.user.username}}'
                                   id='follower-{{user.user.username}}' style="width:90px;">Following</a>
                                {% else %}
                                <a href="{% url 'user-follow' slug=user.user.username %}"
                                   class="btn btn-primary user-follower" data-id='{{user.user.username}}'
                                   id='follower-{{user.user.username}}' style="width:90px;">Follow</a>
                                {% endif %}
                                {% ifequal request.user.username object.username %}
                                <a href="{% url 'user-follow-remove' slug=user.user.username %}"
                                   class="user-followremove" data-id='{{user.user.username}}'
                                   id='follower-{{user.user.username}}'
                                   style="width:10px;float:right;text-decoration:none;">&times;</a>
                                {% endifequal %}
                            </div>
                        </h5>
                    </li>
                    {% empty %}
                    <h6 id='notfollow2'>Not followed by any users!</h6>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>