{%extends 'base.html'%}
{% load static %}

{%block head_title%}
Posts List
{%endblock head_title%}


{%block body%}

    <div>
        {% include "posts/search_posts.html" %}
        <form class="form" method="POST" action="{{create_url}}" id="post-form">
            {% csrf_token %}
            {{ createForm.as_p }}
            <input type="submit" value="Post">
        </form><br>

        <div id="post-container">
        </div>

        <div>
            <a href="#" id="load_more_posts">Load More Posts</a>
        </div>

        <!--{% for object in object_list %}-->
            <!--{{object.content}} |-->
            <!--{{object.user}}<br>-->
            <!--{{object.created_on|timesince}}<br>-->
            <!--<a href="{{object.get_absolute_url}}">View</a> |-->
            <!--<a href="{{object.get_absolute_url}}edit">Update</a> |-->
            <!--<a href="{{object.get_absolute_url}}delete">Delete</a>-->
            <!--<br>-->
            <!--<hr>-->

        <!--{% empty %}-->
            <!--{% if request.GET.q %}-->
                <!--<h4>No Posts found!</h4>-->
            <!--{% else %}-->
                <!--<h4>No Posts yet!</h4>-->
            <!--{% endif %}-->
        <!--{% endfor %}-->
    </div>

{%endblock%}

{% block javascript %}
    <script>
        function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }


        $(document).ready(function(){

            var typingTimer;
            var doneInterval=300; //ms
            var searchInput=$("#search input[type=text]")
            var searchQuery;

            searchInput.keyup(function(event){
                searchQuery=$(this).val()
                clearTimeout(typingTimer)
                typingTimer=setTimeout(doneSearchTyping,doneInterval)
            })

            searchInput.keydown(function(event){
                clearTimeout(typingTimer)
            })

            function doneSearchTyping(){
                if(searchQuery){
                    var url='/post/?q='+searchQuery
                    document.location.href=url;
                }
            }

            var query=getParameterByName('q')
            var postList=[];
            var nextPostURL;

            function updateHashLinks(){
                $(".posts").each(function(data){
                    var hashTagRegex= /(^|\s)*#([\w\d-]+)/g
                    var newText=$(this).html().replace(hashTagRegex,
                        "$1<a href='/tags/$2/'>#$2</a>")
                    $(this).html(newText)
                })
            }

            function attachPost(postValue,prepend){
                var postContent=postValue.content;
                var postTimeSince=postValue.timesince;
                var postUser=postValue.user;
                var postURL=postValue.get_absolute_url;
                var postUserImage=postValue.user.profile.image
                if (postUserImage === null || postUserImage === undefined) {
                    postUserImage="{% static 'images/profile.png' %}";
                }
                var imageFormattedHTML="<img src=\'"+postUserImage+"\' alt=\'"+postUser.first_name+" "+postUser.last_name+
                        "\'  style=\"width:25px;float: left;\" class=\"border  rounded-circle border-white\" />"
                var postFormattedHTML=
                        "<div class=\'posts\'><h5>"+"<a href='"+postUser.url+"'>"+
                        imageFormattedHTML+postUser.username+"</a></h5>"+
                        postContent+"<br>"+
                        postTimeSince+"<br>"+
                        "<a href='"+postURL+"'>View</a> | "+
                        "<a href='"+postURL+"edit'>Update</a> | "+
                        "<a href='"+postURL+"delete'>Delete</a>"+
                        "</div><hr>"
                if(prepend==true){
                    $("#post-container").prepend(postFormattedHTML)
                }else{
                    $("#post-container").append(postFormattedHTML)
                }
            }

            function parsePost(){
                //$("#post-container").empty();
                if(postList==0){
                    $("#post-container").text("No Posts currently found!")
                }else{
                    $.each(postList,function(key,value){
                        var postKey=key;
                        attachPost(value)
                    })
                }
            }


            function fetchPost(url){
                console.log("fetching...");
                var fetchURL;
                if(!url){
                    fetchURL="/post/api/"
                }else{
                    fetchURL=url
                }
                $.ajax({
                    url: fetchURL, //<!--"{% url 'post-api:list' %}",-->
                    data: {
                        "q": query
                    },
                    method: "GET",
                    success: function(data){
                        postList=data.results
                        if(data.next){
                            nextPostURL=data.next
                        }else{
                            $("#load_more_posts").css("display","none")
                        }
                        parsePost()
                        updateHashLinks()
                    },
                    error: function(data){
                        console.log("ERROR")
                        console.log(data)
                    },
                })
            }
            fetchPost()


            $("#load_more_posts").click(function(event){
                event.preventDefault()
                if(nextPostURL){
                    fetchPost(nextPostURL)
                }
            })

            $('#post-form').submit(function(event){
                event.preventDefault()
                var this_=$(this)
                var formData=this_.serializeArray();
                var formDataJSON = {};
                $.map(formData, function(n, i){
                    formDataJSON[n['name']] = n['value'];
                });
                console.log(formDataJSON)
                $.ajax({
                    url: "/post/api/create/", //<!--"{% url 'post-api:list' %}",-->
                    data: formDataJSON,
                    method: "POST",
                    success: function(data){
                        this_.find("input[type=text],textarea").val("")
                        attachPost(data,true)
                        updateHashLinks()
                        //fetchPost()
                    },
                    error: function(data){
                        console.log("ERROR")
                        console.log(data)
                        console.log(data.status)
                    },
                })
            })
        });
    </script>

{% endblock %}