{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{%block head_title%}
Posts List
{%endblock head_title%}


{%block body%}


    <div class="container">
        {% include "posts/post_modal.html" %}
        {% include "posts/search_posts.html" %}
        <form class="form" method="POST" action="{{create_url}}" id="post-form" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="card" style="width:45rem;height:20rem">
                  <div class="card-body">
                    {{ createForm.content|as_crispy_field }}
                    <span id='postChar'></span><br>
                    {{ createForm.image|as_crispy_field }}
                    <input class="btn btn-primary" type="submit" value="Post">
                  </div>
                </div>
        </form><br>
        <div>
            <div id="post-container" data-url="/post/api/">
            
            </div>
            <div>
                <a href="#" id="load_more_posts">Load More Posts</a>
            </div>
        </div>

        
        <!--{% for object in object_list %}-->
            <!--{{object.content}} |-->
            <!--{{object.user}}<br>-->
            <!--{{object.created_on|timesince}}<br>-->
            <!--<a href="{{object.get_absolute_url}}">View</a> |-->
            <!--<a href="{{object.get_absolute_url}}edit">Update</a> |-->
            <!--<a href="{{object.get_absolute_url}}delete">Delete</a>-->
            <!--<br>-->
            <!--<hr>-->
        <!--{% empty %}-->
            <!--{% if request.GET.q %}-->
                <!--<h4>No Posts found!</h4>-->
            <!--{% else %}-->
                <!--<h4>No Posts yet!</h4>-->
            <!--{% endif %}-->
        <!--{% endfor %}-->
    </div>

{%endblock%}

{% block javascript %}
    <script>
        $(document).ready(function(){
            loadPostData("post-container")
        });
    </script>
{% endblock %}